/*JUMBOTRON*/
.jumbotron {
	background-color: rgb(219, 188, 8);
	font-family: 'Modak', cursive;
	margin-bottom: 0px;
    text-align: center;
}

.jumbotron h1 {
	
	font-size: 65px;
	text-transform: uppercase;
	font-weight: 250;
	background-color: rgb(219, 188, 8);
	color: black;
}

.jumbotron p {
	font-family: 'Modak', cursive;
	font-size: 18px;
	font-weight: 100;
	text-transform: uppercase;
}